*{
  
body{
    margin: 15px;
    padding: 0px;
    font-family: "Poppins",sans-serif;
    background-color: #f8f9fa;
}

  .titulo {
            
            text-align: left;
            font-size: 30px;
            font-weight: 100px;
            color: #0b65c6; 
            margin-top: 30px;
            letter-spacing: 2px;
        }

       .menu{
        display: flex;
        gap: 25px;
        margin-right: 20px;
       }

      
        .titulo:hover {
            color: #0a3a6e;
            transition: 0.3s ease;
        }
}