*{
  
body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins",sans-serif;
    background-color: #f8f9fa;
}

  .titulo {
            text-align: left;
            font-size: 70px;
            font-weight: 100px;
            color: #0a3a6e; 
            margin-top: 30px;
            letter-spacing: 2px;
        }

       

      
        .titulo:hover {
            color: #0b65c6;
            transition: 0.3s ease;
        }
}