*{
  
body{
    margin: 15px;
    padding: 0px;
    font-family: "Poppins",sans-serif;
    background-color: #f8f9fa;
}


.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 140px;
}
.search-box .icon {
    font-size: 20px;
    color: #666;
}

.search-box input {
    border: none;
    outline: none;
    flex: 1;                      
    font-size: 16px;
}

.search-box input::placeholder {
    color: #999;
}

  .search-box{
    width: 100%;
    max-width: 900px;
    height: 50px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    gap: 15px;                    
    font-family: "Poppins", sans-serif;
    
  }
  .titulo {
            
            text-align: left;
            font-size: 30px;
            font-weight: 100px;
            color: #0b65c6; 
            margin-top: 30px;
            letter-spacing: 2px;
        }

       .menu{
        display: flex;
        gap: 25px;
        margin-left: 300px;
       }

      
        .titulo:hover {
            color: #0a3a6e;
            transition: 0.3s ease;
        }
        .menu h2:hover{
            color: #0a3a6e;
            transition: 0.3s ease;
        }
}